<aside>
  <div class="panel radius">
    <h3>California Languages</h3>
      <ul class="groups">
        <li>Algic
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/wiyot.html">Wiyot</a></li>
            <li><a href="{{ site.baseurl }}languages/yurok.html">Yurok</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}languages/chimariko.html">Chimariko</a></li>
        <li>Chumashan
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/barbareno.html">Barbareño</a></li>
            <li><a href="{{ site.baseurl }}languages/island-chumash.html">Cruzeño</a></li>
            <li><a href="{{ site.baseurl }}languages/interior-chumash.html">Interior Chumash</a></li>
            <li><a href="{{ site.baseurl }}languages/obispeno.html">Obispeño</a></li>
            <li><a href="{{ site.baseurl }}languages/purisimeno.html">Purisimeño</a></li>
            <li><a href="{{ site.baseurl }}languages/ineseno.html">Samala (Ineseño)</a></li>
            <li><a href="{{ site.baseurl }}languages/ventureno.html">Ventureño</a></li>
          </ul>
        </li>
        <li>Dene (Athabaskan)
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/hupa.html">Hupa</a></li>
            <li><a href="{{ site.baseurl }}languages/kato.html">Kato</a></li>
            <li><a href="{{ site.baseurl }}languages/mattole.html">Mattole</a></li>
            <li><a href="{{ site.baseurl }}languages/tolowa.html">Tolowa</a></li>
            <li><a href="{{ site.baseurl }}languages/eel-river-athabaskan.html">Wailaki / Eel River Dene</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}languages/esselen.html">Esselen</a></li>
        <li><a href="{{ site.baseurl }}languages/karuk.html">Karuk</a></li>
        <li>Maiduan
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/konkow.html">Konkow</a></li>
            <li><a href="{{ site.baseurl }}languages/maidu.html">Maidu</a></li>
            <li><a href="{{ site.baseurl }}languages/nisenan.html">Nisenan</a></li>
          </ul>
        </li>
        <li>Miwok (Miwok-Ohlone)
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/central-sierra-miwok.html">Central Sierra Miwok</a></li>
            <li><a href="{{ site.baseurl }}languages/coast-miwok.html">Coast Miwok</a></li>
            <li><a href="{{ site.baseurl }}languages/lake-miwok.html">Lake Miwok</a></li>
            <li><a href="{{ site.baseurl }}languages/northern-sierra-miwok.html">Northern Sierra Miwok</a></li>
            <li><a href="{{ site.baseurl }}languages/plains-miwok.html">Plains Miwok</a></li>
            <li><a href="{{ site.baseurl }}languages/saclan.html">Saclan</a></li>
            <li><a href="{{ site.baseurl }}languages/southern-sierra-miwok.html">Southern Sierra Miwok</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}languages/modoc.html">Modoc</a></li>
        <li>Ohlone (Miwok-Ohlone)
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/awaswas.html">Awaswas</a></li>
            <li><a href="{{ site.baseurl }}languages/chalon.html">Chalon</a></li>
            <li><a href="{{ site.baseurl }}languages/chochenyo.html">Chochenyo</a></li>
            <li><a href="{{ site.baseurl }}languages/karkin.html">Karkin</a></li>
            <li><a href="{{ site.baseurl }}languages/mutsun.html">Mutsun</a></li>
            <li><a href="{{ site.baseurl }}languages/ramaytush.html">Ramaytush</a></li>
            <li><a href="{{ site.baseurl }}languages/rumsen.html">Rumsen</a></li>
            <li><a href="{{ site.baseurl }}languages/tamyen.html">Tamyen</a></li>
          </ul>
        </li>
        <li>Palaihnihan
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/achumawi.html">Achumawi</a></li>
            <li><a href="{{ site.baseurl }}languages/atsugewi.html">Atsugewi</a></li>
          </ul>
        </li>              
        <li>Pomoan
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/central-pomo.html">Central Pomo</a></li>
            <li><a href="{{ site.baseurl }}languages/eastern-pomo.html">Eastern Pomo</a></li>
            <li><a href="{{ site.baseurl }}languages/kashaya.html">Kashaya</a></li>
            <li><a href="{{ site.baseurl }}languages/northeastern-pomo.html">Northeastern Pomo</a></li>
            <li><a href="{{ site.baseurl }}languages/northern-pomo.html">Northern Pomo</a></li>
            <li><a href="{{ site.baseurl }}languages/southeastern-pomo.html">Southeastern Pomo</a></li>
            <li><a href="{{ site.baseurl }}languages/southern-pomo.html">Southern Pomo</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}languages/salinan.html">Salinan</a></li>
        <li>Shastan
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/konomihu.html">Konomihu</a></li>
            <li><a href="{{ site.baseurl }}languages/new-river-shasta.html">New River Shasta</a></li>
            <li><a href="{{ site.baseurl }}languages/okwanuchu.html">Okwanuchu</a></li>
            <li><a href="{{ site.baseurl }}languages/shasta.html">Shasta</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}languages/tubatulabal.html">Tubatulabal</a> (Uto-Aztecan)</li>
        <li>Uto-Aztecan (Numic Branch)
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/chemehuevi.html">Chemehuevi</a></li>
            <li><a href="{{ site.baseurl }}languages/kawaiisu.html">Kawaiisu</a></li>
            <li><a href="{{ site.baseurl }}languages/mono.html">Mono</a></li>
            <li><a href="{{ site.baseurl }}languages/northern-paiute.html">Northern Paiute</a></li>
            <li><a href="{{ site.baseurl }}languages/panamint.html">Panamint</a></li>
          </ul>
        </li>              
        <li>Uto-Aztecan (Takic branch)
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/cahuilla.html">Cahuilla</a></li>
            <li><a href="{{ site.baseurl }}languages/cupeno.html">Cupeño</a></li>
            <li><a href="{{ site.baseurl }}languages/gabrielino.html">Gabrielino</a></li>
            <li><a href="{{ site.baseurl }}languages/juaneno.html">Juaneño</a></li>
            <li><a href="{{ site.baseurl }}languages/kitanemuk.html">Kitanemuk</a></li>
            <li><a href="{{ site.baseurl }}languages/luiseno.html">Luiseño</a></li>
            <li><a href="{{ site.baseurl }}languages/serrano.html">Serrano</a></li>
            <li><a href="{{ site.baseurl }}languages/tataviam.html">Tataviam</a></li>
          </ul>
        </li>              
        <li><a href="{{ site.baseurl }}languages/washo.html">Washo</a></li>
        <li>Wintuan
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/nomlaki.html">Nomlaki</a></li>
            <li><a href="{{ site.baseurl }}languages/patwin.html">Patwin</a></li>
            <li><a href="{{ site.baseurl }}languages/wintu.html">Wintu</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}languages/yana.html">Yana</a></li>
        <li><a href="{{ site.baseurl }}languages/yokuts.html">Yokuts languages</a></li>
        <li>Yukian
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/northern-yukian.html">Northern Yukian</a></li>
            <li><a href="{{ site.baseurl }}languages/wappo.html">Wappo</a></li>
          </ul>
        </li>
        <li>Yuman
          <ul class="languages">
            <li><a href="{{ site.baseurl }}languages/kumeyaay.html">Kumeyaay (Diegueño)</a></li>
            <li><a href="{{ site.baseurl }}languages/maricopa.html">Maricopa</a></li>
            <li><a href="{{ site.baseurl }}languages/mojave.html">Mojave</a></li>
            <li><a href="{{ site.baseurl }}languages/quechan.html">Quechan (Yuma)</a></li>
          </ul>
        </li>
      </ul>
  </div>
</aside>
