<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery-3.3.1.js"></script>

{% if page.clamap == true %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key={{ site.google_maps_api_key }}"></script>
<script type="text/javascript" src="assets/js/cla-map.js"></script>
<script type="text/javascript">
  initMap('{{ site.clamap }}');
</script>
{% endif %}

{% if page.mediaplayer == true %}
<script>
$('audio,video').mediaelementplayer();
</script>
{% endif %}


<script src="{{ site.url }}{{ site.baseurl }}assets/js/javascript.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}assets/js/foundation.interchange.min.js"></script>


{% if page.header.image_fullwidth %}
<script>
    $("#masthead").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}", {fade: 700});
    $("#masthead-with-text").backstretch("{{ site.urlimg }}{{ page.header.image_fullwidth }}", {fade: 700});
</script>
{% endif %}

{% if page.search_include %}
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/select2.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/cla-select2.js"></script>
<script type="application/javascript">
  baseurl = '{{ site.baseurl }}';
  {% if page.search_results and page.collbndlrec != 'bndl' %}
    $('#cla-search-form').on('submit', do_submit);
  {% else %}
    $('#search_button').on('click', function (e) {
      e.preventDefault();
      if ($('#cla-search-form').find(':selected').length > 0) {
        const s = $.param($('#cla-search-form').serializeArray());
        setTimeout(
          function(){
            window.location.href = '/list/index.html?' + s;
            return true;
          },
          500
        );
      }
    });
  {% endif %}
  configure_select2("{{ site.search.aws_endpoint }}", "{{ site.search.placeholder }}");
</script>
{% endif %}

{% if page.search_results %}
<script type="application/javascript">
  window.onpopstate = function(event) {
    popstate(event);
  }
  $('a.paginate').on('click', handlePaginationClick);
  $('li.tab-title > a').on('click', tabclick);
  $('#collshowall').on('click', toggle_showall);
  $('#bndlshowall').on('click', toggle_showall);
  {% if page.collbndlrec != 'bndl' %}
  $('#search_button').on('click', handleSearchButtonClick);
  {% endif %}

  {% unless page.collbndlrec == 'coll' %}
    if (window.location.pathname.includes('list')) {
      do_page_entry();
    }
  {% endunless %}
/*
  populate_form_from_query_string('cla-search-form');
  const s = $.param($('#cla-search-form').serializeArray());
  history.pushState(s, '{{ site.title }}', '{{ site.baseurl }}list');
  $('#search_button').click();
  toggle_showall('coll');
*/
</script>
{% endif %}

{% if page.collbndlrec %}
<script type="application/javascript">
  const sp = new URLSearchParams(window.location.search);
  const rectype = '{{ page.collbndlrec }}';
  const paramname = rectype + 'id';
  if (sp.has(paramname)) {
    if (rectype == 'coll') {
      const recid = sp.get(paramname);
      do_search(collid=recid);
    } else {
      display_bndlrec();
    }
  } else {
    $('#collbndlrec').html('<p>The ' + paramname + ' parameter was not included in the url.</p>');
  }
</script>
{% endif %}

{% if page.tabs_include == true %}
{% comment %}
Make tabs work correctly after content is loaded.
{% endcomment %}
  <script src="{{ site.url }}{{ site.baseurl }}assets/js/foundation.tab.min.js"></script>
  <script type="application/javascript">
    window.addEventListener('DOMContentLoaded', function(e) {
      $(document).foundation('tab', 'reflow');
  } );
  </script>
{% endif %}

{% if page.iframe_include %}
<script type="application/javascript">

function resizeIFrameToFitContent( iFrame ) {
    iFrame.width  = iFrame.contentWindow.document.body.scrollWidth + 40;
    iFrame.height = iFrame.contentWindow.document.body.scrollHeight + 40;
}

{% comment %}
# Attach the iframe resize function to different listeners since browsers
# seem to recognize the timing of these events differently.
{% endcomment %}
window.addEventListener('DOMContentLoaded', function(e) {
    const iFrame = document.getElementById( 'iframe-list' );
    resizeIFrameToFitContent( iFrame );
} );
$('#iframe-list').load(function() {
    const iFrame = document.getElementById( 'iframe-list' );
    resizeIFrameToFitContent( iFrame );
});

</script>
{% endif %}



{% comment %}
#  Start of Tawk.to Script
#
#  More information in _config.yml
#
{% endcomment %}
{% if site.tawkto_embed_uri and page.tawkto == true %}
<script type="text/javascript">
var $_Tawk_API={},$_Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='{{ site.tawkto_embed_uri }}';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
{% endif %}


