    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="small-12 medium-12 large-12 columns text-center">
          We acknowledge with respect the Ohlone people on whose traditional, ancestral, and unceded land we work and whose historical relationships with that land continue to this day.<br>
          &nbsp;<br>    
        </div>
      </div>
      </div>
      
      <!-- START OF END FOOTER -->

      <div id="subfooter">
         <!-- buttons -->
        <nav class="row">
          <section id="subfooter-left" class="small-6 medium-3 large-3 columns">
            <a href="/index.html"><button class="buttonsupport">Get our newsletter</button></a>
            <br>
            <a href="http://eepurl.com/igTzW1"><button class="buttonnewsletter">Support the CLA</button></a>
        </section>
        
            <!-- contact -->
          <section id="subfooter-mid" class="small-6 medium-3 large-3 large-offset-1 columns contactinfo">
            <ul class="no-bullet shadow-black">
              {% for contact_item in site.data.contact %}
                  <li>{{ contact_item.name }}</li>
              {% endfor %}
              </ul>
          </section>

           <!-- credits -->
          <section id="subfooter-right" class="small-6 medium-3 large-3 columns credits">
            <ul class="inline-list social-icons">
              {% for social_item in site.data.socialmedia %}
                <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
              {% endfor %}
              </ul>
              {{ site.credits }}
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
