<aside>
  <div class="panel radius">
    <h3>Survey Staff</h3>

    <p><a href="#zacho"><b>Zachary O'Hagan (Manager)</b></a></p>

    <p><a href="#ron"><b>Ronald Sprouse (IT Specialist)</b></a></p>

    <p><a href="#anna"><b>Anna Björklund (Survey Assistant)</b></a></p>

    <p><a href="#andrew"><b>Andrew Garrett (Director, 2007-)</b></a></p>

    <h3>Advisory Board</h3>

    <p><b>Advisor 1</b></p>

    <p><b>Advisor 2</b></p>

    <h3>Previous Directors</h3>

    <p><a href="leanne"><b>Leanne Hinton (1978-2007; co-director 1978-1986)</b></</a></p>

    <p><b>Wallace Chafe (1975-1986)</b></p>

    <p><b>Mary R. Haas (1953-1975)</b></p>
</aside>
