<aside>
  <div class="panel radius">
    <h4>CLA Staff</h4>

    <p><a href="#zacho">Zachary O'Hagan (Manager)</a></p>
    <p><a href="#ron">Ronald Sprouse (IT Specialist)</a></p>
    <p><a href="#anna">Anna Björklund (Assistant)</a></p>
    <p><a href="#andrew">Andrew Garrett (Director 2007-)</a></p>

    <h4>Advisory Board</h4>

    <p><a href="#leanne">Leanne Hinton</a></p>
    <p><a href="#kayla">Kayla Begay</a></p>
    <p><a href="#beth">Beth Piatote</a></p>
    
    <h4>Previous Directors</h4>

    <p><a href="#leanne">Leanne Hinton (Co-director 1978-1986, Director 1986-2007)</</a></p>
    <p>Wallace Chafe (1975-1986)</p>
    <p>Mary R. Haas (1953-1975)</p>
</aside>
