<aside>
  <div class="panel radius">
    <h3>Survey Personnel</h3>

    <p><b>Zachary O'Hagan (Manager)</b></p>
    <div class="people_sidebar">
      <img class="people_sidebar_img" src="{{ site.urlimg }}zjo.jpg" alt="Zachary O'Hagan"/>
    </div>

    <p><b>Andrew Garrett (Director)</b></p>
    <div class="people_sidebar">
        <img class="people_sidebar_img"  src="{{ site.urlimg }}ag-cla.png" alt="Andrew Garrett"/>
    </div>

    <p><b>Ronald Sprouse (IT Specialist)</b></p>
    <div class="people_sidebar">
      <img class="people_sidebar_img" src="{{ site.urlimg }}sprouse.jpg" alt="Ronald Sprouse"/>
    </div>

    <p><b>Anna Björklund (Survey Assistant)</b></p>
    <div class="people_sidebar">
      <img class="people_sidebar_img" src="{{ site.urlimg }}anna_bjorklund.jpeg" alt="Anna Björklund"/>
    </div>
    </div>
</aside>
