<div class="row t60 text-center">
    <form id="cla-search-form" accept-charset="UTF-8" method="post"{% if page.layout == 'cla-frontpage' %} action="list.html"{% endif %} data-size="25" data-collfrom="0" data-bndlfrom="0" data-tab="bndl" data-with-js="0">
      <select multiple="multiple" style="width: 80%" name="sparams[]" id="cla-search-select"></select>
      <a id="search_button" class="button large radius t10" href="{{ url }}{{ site.search.url }}">{{ site.search.button_text }}</a>
    </form>
</div><!-- /.row -->



